[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
textfsm = "*"
ipython = "*"
pipenv = "*"

[dev-packages]
flake8 = "*"
ipdb = "*"
flake8-if-statements = "*"
flake8-bandit = "*"
flake8-black = "*"
flake8-simplify = "*"

[pipenv]
allow_prereleases = true
