[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
textfsm = "*"
ipython = "*"
pipenv = "*"
tqdm = "*"
sympy = "*"
pandas = "*"

[dev-packages]
flake8 = "*"
ipdb = "*"
flake8-if-statements = "*"
flake8-bandit = "*"
flake8-simplify = "*"
black = "==19.3b0"

[pipenv]
allow_prereleases = true
